
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Tính diện tích</h1>
</div>



<div class="w-100 h-100 vh-100 d-flex justify-content-center align-items-center">
    <!-- Nội dung của phần tử cha ở đây -->
    <div class="border p-3 w-50 h-75 ">
        <!-- Nội dung hình chữ nhật ở đây -->
        
        <h2 class="  text-center m-auto">{{kq}}</h2>
    </div>
</div>

